
#addition {
    grid-area: addition;
}

#subtraction {
    grid-area: subtraction;
}

#multiplication {
    grid-area: multiplication;
}

#division {
    grid-area: division;
}

#calculator-equals {
    grid-area: equals;
}

#calculator-numbers {
    grid-area: number;
}

#calculator-screen {
    grid-area: screen;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

#calculator-numbers {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

#calculator-screen {
    background-color: black;
}

#calculator {
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "screen   screen      screen         screen"
        "addition subtraction multiplication division"
        "number   number      number         equals"
        "number   number      number         equals"
        "number   number      number         equals"
        "number   number      number         equals";
}

.calculator__button, .calculator__option {
    height: 6rem;
    width: 6rem;
}

.calculator__operator {
    width: 7rem;
    height: 7rem;
}

.calculator__operator,
.calculator__button,
.calculator__option,
#calculator-equals {
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 8px 8px #49bf8c;
    transition: 200ms ease;
}

.calculator__operator:active,
.calculator__button:active,
.calculator__option:active,
#calculator-equals:active {
    box-shadow: 0px 0px;
}

#calculator-equals {
    border-radius: 20px;
}

@media screen and (orientation: portrait) {
    #calculator {
        width: 100vw;
        box-sizing: border-box;
        height: 100%;
        gap: 1rem;
        padding: 10px;
        grid-template-areas:
        "screen   screen      screen         screen"
        "screen   screen      screen         screen"
        "addition subtraction multiplication division"
        "number   number      number         equals"
        "number   number      number         equals"
        "number   number      number         equals"
        "number   number      number         equals";
    }

    #calculator-screen {
        border-radius: 5px;
    }

    .calculator__operator,
    .calculator__button,
    .calculator__option,
    #calculator-equals {
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 0;
        box-shadow: 5px 5px rgb(73, 191, 140);
        border-radius: 15px;
    }

    #calculator-equals {
        border-radius: 0;
    }
}
