#toast-list {
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 9999;
}

.toast {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    color: black;
    font-size: 0.9rem;
    border-radius: 20px;
    background-color: #49bf8c;
}
